<div class="container mt-4">
	<h2>➕ Nouvelle plante</h2>
	<form (ngSubmit)="onSubmit()" #plantForm="ngForm" class="mt-3">
		<div class="mb-3">
			<label class="form-label">Nom</label>
			<input type="text" class="form-control" [(ngModel)]="model.name" name="name" required />
		</div>

		<div class="mb-3">
			<label class="form-label">Prix (€)</label>
			<input type="number" class="form-control" [(ngModel)]="model.price" name="price" required />
		</div>

		<div class="mb-3">
			<label class="form-label">Stock</label>
			<input type="number" class="form-control" [(ngModel)]="model.stock" name="stock" required />
		</div>

		<button type="submit" class="btn btn-success">Créer</button>
	</form>
</div>
