<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
	<div class="container">
		<a class="navbar-brand" routerLink="/">🌿 PlantShop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a routerLink="/cart" class="nav-link">
						Mon Panier <span *ngIf="nombreArticles > 0">({{ nombreArticles }})</span>
					</a>
				</li>
				<li class="nav-item" *ngIf="!estConnecte">
					<a class="nav-link" routerLink="/login">Connexion</a>
				</li>
				<li class="nav-item" *ngIf="!estConnecte">
					<a class="nav-link" routerLink="/register">Inscription</a>
				</li>
				<li class="nav-item dropdown" *ngIf="estConnecte">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
						Profil
					</a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" routerLink="/profile">Mon Profil</a></li>
						<li><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
